* { /*Valor universal*/ /*Valor universal*/ /*Valor universal*/ /*Valor universal*/
    margin: 0%;
    padding: 0%;
    box-sizing: border-box; /*Para que las cajas mantengan el tamaño selecionado y no se agreguen el border y el panding*/
    font-family: "roboto";
}




/*HEADER*/ /*HEADER*/ /*HEADER*/ /*HEADER*/  /*HEADER*/ /*HEADER*/  /*HEADER*/ /*HEADER*/  /*HEADER*/ /*HEADER*/

nav { /*65 de alto tiene*/
    justify-content: space-between;
    background-color: #26316C;    
    border-bottom: solid 1px #031744;
    display: flex;    
    align-items: center;
    position: fixed;
    width: 100%;        
    z-index: 9999999; /*Eje z, para poner por encima del resto de los elementos, núnmero exagerado para que nada lo supere por error */
}

.nav__img--container {
    width: 50px;
    overflow-x: hidden;
}

.nav__img {
    height: 50px;
    padding-left: 20px;
}

.nav__links {
    display: flex;     
}

.nav__a--header {
    color: #EBEFF2;
    font-size: 15px;
    margin: 0 15px;
    text-decoration: none;   
}

.nav__a--header:hover { /*Para cambiar el color cuando paso el mouse por arriba*/
    color: #F28F00; 
    transition: all 0.2s;
    transform:scale(1.02, 1.02);
}





/*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/ /*FOOTER*/

footer {
    background-color:#26316C;
    padding: 35px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer__titulo1 {
    color: #EBEFF2;
    font-size: 15px;        
    margin-bottom: 20px;
}

.footer__imagen {
    display: flex;    
    margin-top: 10px;
    align-items: center;       
}

.footer__imagen img {
    filter: invert(1); /* Invierte el color */
    height: 25px;
}

.footer__texto {
    color: #EBEFF2;
    font-size: 13px;
    padding-left: 20px;
}

.footer__redes img {
    margin-left: 20px;
    margin-top: 12px;    
    height: 25px;
}

.footer__redes img:first-of-type {
    margin-left: 0;
}

.footer__redes img:hover {
    transition: all 0.5s;
    transform:scale(1.2, 1.2);
}




/*INDEX*/ /*INDEX*/ /*INDEX*/ /*INDEX*/ /*INDEX*/ /*INDEX*/ /*INDEX*/ /*INDEX*/ /*INDEX*/ /*INDEX*/

.section__1 {
    background-image: url(../Imagenes/imagenfondoindex.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    border-bottom: solid 1px #EBEFF2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.section__1--titulo {
    color: #26316C;
    font-size:  60px;         
}

.section__1--subtitulo {
    color: #F28F00;       
    font-size: 35px;    
}

.section__2 {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    margin-top: -80px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.titulo_section_2--article{
    color:#F28F00;
    font-size: 30px;
    margin-bottom: 10px;    
}

.section__2--article {
    background-color: #EBEFF2;
    border: solid 3px;
    border-color: #26316C;
    padding: 1em;
    text-align: center;
    margin: 1em;
}

.section__2--article1--texto {
    color: #031744;   
}

.section__2--img {
    width: 30%;
    max-width: 130px;      
}


/*NOSOTROS*/ /*NOSOTROS*/ /*NOSOTROS*/ /*NOSOTROS*/ /*NOSOTROS*/ /*NOSOTROS*/ /*NOSOTROS*/ /*NOSOTROS*/


.sectionnos__1 {
    padding-top: 65px;   
    background:#EBEFF2;
    background: linear-gradient(to right,  #EBEFF2, rgb(255, 255, 255));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;       
}

.sectionnos__1--titulo {
    color: #26316C;
    font-size: 50px;
    padding: 0;               
}

.sectionnos__1--texto {
    color: #031744;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    margin: 0 10%;     
}

.grid {        
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 10px;
    margin-bottom: 2em;
}

.grid img { 
    width: 100%; 
}

.sectionnos__2--titulo {
    color: #F28F00;
    font-size: 20px;    
}

.sectionos_2--texto {
    color: #031744;
    font-size: 15px;    
}



/*CONTACTO*/ /*CONTACTO*/ /*CONTACTO*/ /*CONTACTO*/ /*CONTACTO*/ /*CONTACTO*/ /*CONTACTO*/ /*CONTACTO*/ /*CONTACTO*/ /*NO TIENE DESAROLLO EN CSS MÁS QUE UNA VIEJA PRUEBA CON COLORES*/


.sectioncontac {
    background:#EBEFF2;
    background: linear-gradient(to right,  #EBEFF2, rgb(255, 255, 255));    
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-row-gap: 10px;    
}

section {
    padding: 90px 20px 50px 20px;
}

.sectioncontac__titulo {
    grid-column: 1 / 5;
    grid-row: 1;
    color: #26316C;
    font-size: 50px;          
}

.sectioncontac_div1 {
    grid-column: 1 / 5;
    grid-row: 3;
    width: 100%;
    height: 100%;
}

.sectioncontac_div2 {
    grid-column: 1 / 5;   
    grid-row: 4; 
}

.sectioncontac_div3 {
    grid-column: 1 / 5;   
    grid-row: 5; 
}

.sectioncontac_div4 {
    grid-column: 1 / 5;   
    grid-row: 6; 
}

.sectioncontac_div5 {
    grid-column: 1 / 5;  
    grid-row: 7; 
    display: flex;
    align-self: end;
    margin-top: 10px;
    margin-bottom: 10px;   
}

.sectioncontac_div6 {
    grid-column: 1 / 2;  
    grid-row: 8;
    align-self: end;
}

.sectioncontac_div7 {
    grid-column: 2 / 3;
    grid-row: 8;
    align-self: end;
}

.sectioncontac__inputs {
    width: 100%;
    height: 100%;    
    font-size: 16px;
    border: solid 3px;
    border-color: #26316C; 
    border-radius: 5px;
    padding: 1em 2em;
}

.sectioncontac__inputs:focus {
    font-size: 20px;  
    color: #26316C;          
}

.sectioncontac_div5--pregunta {
    font-size: 20px;
    color:#26316C; 
    padding-right: 20px; 
    align-self: center; 
}

.checkbox {
    width: 30px;
    height: 30px;    
}

.checkbox:hover {    
    transition: all 0.5s;
    transform:scale(1.05, 1.05);    
}


.enviarconsulta {
    width: 50%;
    color:#EBEFF2; 
    background-color: #26316C;
    box-sizing: content-box;
    height: 30px; 
    border-radius: 5px;   
    font-size: 20px;
    padding: 1em 2em;
}

.limpiardatos {    
    width: 50%;       
    background-color: #26316C;
    color:#EBEFF2; 
    box-sizing: content-box;
    height: 30px;
    border-radius: 5px;
    font-size: 20px; 
    padding: 1em 2em;        
}

.limpiardatos:hover {
    color:#F28F00;
    transition: all 0.2s;
    transform:scale(1.02, 1.02);   
}

.enviarconsulta:hover {
    color:#F28F00;
    transition: all 0.2s;
    transform:scale(1.02, 1.02);
}

.service__header {
    padding-left: 20px;
}

.service__header h1 {
    font-size: 3em;
    color: #26316c;
    margin-bottom: .4em;
}

.service__header h2 {
    padding-bottom: 5px;
    color: #f29120;
    font-size: 1.5em;
}

/* SERVICIOS */
li {
    list-style: none;
    padding: 1em 0;
    padding-left: 1.5em;
}

li:nth-child(2n+1) {
    background-color: #26316c;
    color: white;
}

li:nth-child(2n) {
    color: #26316c;
}

.service {
    color: #26316c;
    font-size: 3em;
    margin-top: 30px;
    padding-left: 20px;
}

.service-p {
    padding-left: 20px;
    margin-top: 10px;
    font-weight: bold;
    color: #f29120;
    margin-bottom: 1em;
    font-size: 1.2em;
}


@media screen and (min-width: 700px) {
    .nav__img--container {
        width: auto;
        margin: 0 20px;
    }
    
    .nav__img {
        height: 50px;    
        padding: 0;
    }

    .section__2 {
        flex-direction: row;
    }

    .section__2--article {
        width: 25%;
        margin: 0;
    }

    footer {
        flex-direction: row;
        text-align: left;
    }

    .footer__redes img {
        margin-top: 0;
    }

    .sectionnos__2--titulo {
        color: #F28F00;
        font-size: 35px;    
    }
    
    .sectionos_2--texto {
        color: #031744;
        font-size: 20px;    
    }
}

@media screen and (min-width: 900px) {
    section {
        padding-top: 130px;    
    }

    .nav__a--header {
        font-size: 23px;
        margin: 0 20px;    
    }

    .nav__img {
        height: 65px;
    }

    .sectionnos__1 {
        padding-top: 100px;   
    }

    .grid {
        gap: 20px;
    }
}

 













/*
AYUDAS MEMORIAS

Manejar tamaños y posición:
(top; right; bottom; left) - Usando esta forma sin declarar el valor funciona.
margin
panding
border
A su vez si ponés por ejemplo margin: 0 1rem; el cero aplicar por los márgenes de arriba y abajo y el 1em por los de derecha y izquierda.
max-widht: 900px; - Estoy declarando que el ancho máximo es de 900px
margin: 0 auto; (el 0 se declara el arriba y abajo y no declara un margen y el auto hace que automáticamente los márgenes de izquierda y derecha se dividan en dos. Con esto puede centrar si usar flex.
abajo está explicado el min-heigth que establece el mínimo pero que si tiene que crecer le dice que crezca lo que necesite.

width - ancho - pueden ser tanto en px como en porcentajes por ejemplo
height - alto - pueden ser tanto en px como en porcentajes por ejemplo
height 100%vh - se refiere al 100% de la ventana, porque el body tiene un heigt asignado de 0% y suele ser un problema normal cuando el padre es el body. El body por defecto no tiene altura
El % en las unidades de medida siempre va en relación al padre.

rem = 16px ---- por tanto al poner margin: 2rem; el margen sería 16x2 que da 32px. 

Si el contenido de una caja se desborda:
overflow: hidden; (Cuando se te desborda un texto dentro de algún elemento contenedor, lo que hace es cortarlo al limite de la caja
overflow: scroll; (En este caso lo que hace es crear una barra para poder hacer sroll en ese elemento contenedor)
min-height 300px; El alto mínimo será 300, pero si es más lo que hace es automáticamente crecer para que lo contenido no se desborde.

display inline (linea) o block (bloque)
display: inline-block; Pone a un bloque en línea. 
Cundo tenemos elementos inline los márgenes superiores e inferiores no aplican aunque los modifiquemos. 

display: flex; - Se aplica al elemento padre - A los eElementos contenor - tiene como predeterminado el valor "row" (fila) por los que nos alinea los elementos contenidos en de forma horizontal
flex-direction: colum - Para alinear de forma vertical.
El navegador le asgina flex-direction: row; por defecto (horizontal).
row-reverse o column reverse, ordena los elementos de forma invertida. 

flex-wrap: no-wrap; - Este es valor por defecto, y le dice que si los elementos de una caja contenedora, por ejemplo un nav, se tienen que desbordar pero respetando la linea, que se desborden.
flex-warp: wrap;. - En este caso se le aplica el wrap para que los elementos no se desborden. Permite generar multilineas en caso de que sea necesario.
flex-flow: - Esta sola propiedad manipula las dos propiedades al mismo tiempo de los direction y el warp. Ejemplo: flex-flow: colum; wrap;

justify-content: - el valor por defecto es el "flex-start" - 
si lo queremos centrar, el valor sería "center", 
"flex-end" se alinea al fondo del contenedor, 
"space-between" no sólo los alínea y posiciona los elementos en los extremos sino que los distribuye uniformemente, 
"sapace-around", con espacios a los costados a diferencia del anterior, en sí te suma los espacios de cada enlace de forma exacta por cada lado de cada elemento contenido, 
"space-evenly" en este caso deja proporsiónn entre cada espacio, por tando el espaciado entre elementos es igual tanto en los márgenes así como entre los elementos a diferencia del aterior.

flex-basis: 30%; En este caso se usa para asignarle un porcentaje a por ejemplo un conjunto de 3 cajas que están contenidas en otra que sería el 100%, y así si fueran 3 tendrían un 30% de tamaño sin importar su cotenido, y quedaría un 10% de la caja contenedora para espaciar por ejemplo.
A su vez, cumple el rol del widht: 30%; o heigth;30% - Y esto dependiendo si trabajamos en filas o columnas. en el caso de flex-basis actual por defecto sin importar en qué estamos trabajando.

aling-items: tiene valor por defecto "strech" - En este caso trabaja con el eje secundario (si estoy con row el eje principal es el horizontal y el secundario el vertical, y alrevez en columna).

aling-content - Solo se usa para alinear contenido multilinea que va a existir cuando trabajemos por ejemplo con wrap, y esto alinea el conjunto de lineas (no se usa mucho).

position: fixed; - Adecua por ejemplo el nav al tamaño de su contenido, por ejemplo los enlances. 
Además a hacer el scrool el menú nos va a seguir.
Por tanto lo que se pone es width 100% para que el background del nav ocupe la totalidad del espacio.
botton: 0; si queremos que quede fijado abajo. 


grid-template-columns: ; - Lo que permite a al elemento padre es decirle cuántas columnas quiero que tenga pero en relación al tamaño, sean px, % o auto.
Al usar 1fr (fr significa fracción), que sólo existe cuando usamos grid, como unidad de medida lo que estamos haciendo es diviendo el espacio es fraciones por igual, si ponemos 3 serán tres, si ponemos 4 serán 4. 
grid-template-columns: repeat(3, 1fr); - Es una forma de decirle que nos repita 3 columnas con 1fr de tamaño (Las fr son responsive, ya que siempre trata de dividir por igual)
grid-template-row: ; - Fila, funciona igual que el colunm

gap: 10 px; - Es un espaciado, en este caso, entre columnas y entre filas. aplica 10 px
grid-column-gap: ; - Espaciado entre columnas
grid-row-gap: ; - Espaciado entre filas.

grid-colum: 1 / 13; en este caso estoy diciendo que quiero que tal elemento ocupe el tamaño de las columnas 1 a las 13.
grid-row: ; - Se repite lo mismo de arriba.

grid-template-areas: - Se utiliza para detallar nuestras columnas y filas en función de los nombres que le hayamos asginado
Ejemplo: De esta manera literalmente estoy armando mi cuadrilla a partir de los nombres (clases/elementos) asignados.
grid-template-areas: 
"nav header header"
"nav prodcutos publicidad"
"nav productos publicidad"
"nav footer footer"
Luego de esto iría en cada propiedad por ejemplo:
.nav {
grid-area: nav;
}


Rsponsive
Mobile Firts - Reponsividad - Arrancar primero en que se vea bien el celular. Es una guía a seguir.
Trabajamos todo nuestro css con vista mobile y después le agregamos media queris (@media) tanto para tablet, pc y etc.
Para hacer esto tenemos que establecer un estilo y necesitaríamos incluir media queries, por ejemplo:
@media screen and (min-widht: 768px) - El "@" aplica la media queries y el "and" en este caso declara un mínimo de tamaño
Si no colocamos "screen" el valor por defecto es "all" (para todos los dispositivos); screen dice que es para pantallas, pero existe el valor "print" donde declaramos que los estilos se aplican cuando el material se vaya a imprimir; "spech" es para sintetizadores de voz.
    .body {
        background-color:
    }
El ejemplo anterior aplica a tablets y compus de escritorios de tamaño reducido. 
El tipo dipositivo lo detecta automáticamente el navegador y lo que nosotros le decimos desde que tope mínimo de tamaño debe aplicar tal estilo

Dispositivos: mobile / tablet / escritorio.

Otro ejemplo con otra función:
@media (max-widht: 600px) { - En este caso estoy declarando que cuando tenga un máximo o menor de esto x clase no se muestre
    .clasex {
        display: none;
    }
} 

and (orientation:landscape) - Si agregamos en el and y en esta caso un landscape estamos diciendo que el @media se aplique sólo cuando el dispositivo se encuentre en horizontal
Por tanto no sólo se va a modificar en relación al tamaño sino dependiendo de la orientación del dispositivo.

Gradientes
https://uigradients.com/#IbizaSunset - Para generar un gradiente para el color de fondo
https://cssgradient.io/
background: linear-gradient(to right; acá irían los colores, de cual a cual ) - En este caso es un gradiente que va linea, ya sea horizontal o vertical, por ejemplo podríamos hacerlo to bottom
background: gradial-gradiant - Es otro efecto de gradiente y parece como un círculo, no lineal.
background-image: linea-gradient (left, red, yellow) - En este caso a una imagen le agregamos un gradiente y ese colores.


Transformaciones
transform:translate(10px, 20px);  - Lo que estoy declarando es un movimiento del tal elemento 10 px en el eje horizontal y 20 en el vertical. Queda fijo, no es que va y viene.
transform:rotate(45deg) - Nos permite girar un objeto sin modificarlo. - "deg" unidad de medida que hace referencia a grado. "180deg" daría una vuelta completa.
rotatex y rotatey - el primero solo lo rota en el eje x y el segundo solo en el y.
En la misma transform puede agregarle distintos valores, como traslate o rotate.
transform:scale () - Cambia la escala del objeto como si fuera un zoom. Labura en eje x e y. Valores mayores a 1 agrandan, entre 1 y 0 achican.

"Animación" - si lo anterior le agrego la propiedad trasition, hago que cuando por ejemplo pase el mouse se realice la transformación
Ejemplo:
div {
    widht: 100px;
    heigth: 100px;
    background-color: red;
    transition: all 3s;
}
div:hover {
    transform:translate(10px, 20px);
}
Si uso la propiedad transition ocurre de manera gradual, sino no la uso me realiza la modificación planteada de un saque.
Podemos modificar el height, el width, 

opacity - Tiene valor por defecto 1, si yo en una transición pongo opacity 0, va a hacer una transición hasta desaparecer.


 Usar el imput:focus - cuando me posiciono dentro del imput crece para poder escribir mejor
Ejemplo:
.imput:focus {
    widht: 100px;
    font-size: 22px;
}

Animación
A diferencia de la transición no ocurre en base a un evento, ocurre automáticamente y se repite las veces que queramos
El elemento va a ocurrir desde el momento en que carguemos la páginas. Si tenemos infinita el que entra la podrá ver, si se activa 5 veces, y no la ve el que entra despues de las 5 deja de salir.
@keyframes + un nombre relación a la animación que quiero hacer.
@keyframes efecto_1 {
    }
Se laburo generalmente con porcentajes, arrancando del 0% hasta llegar al 100 por ejemplo. En el sentido, el 25% pasa tal cosa, en el 50% tal otra, y todo atado a un tiempo que detellemos.

ejemplo:
@keyframes un_efecto {
   0%{ width: 100px; }
   25%{ width: 300px; }
   50%{ width: 200px;
     background-color: red; }
   75%{ width: 300px;}
   100%{ width: 100px;
     background-color:green;
}
Y luego en el mismo css vamos vinculando la animación al elemento que quermaos
section {   
   animation-name: un_efecto;
   animation-iteration-count: infinite; - Cúanto tiempo se repetirá, en este caso infinitamente, pero podría ser ejemplo 10. 
   animation-timing-function: ease-in; - Esto detalla la velocidad de la animación, al inicio rápido y al final rápido, por ejemplo
   animation-duration: 2s; - Duración (Se relaciona directamente con el porcentaje que declaramos en la animación, si es 50% y declaramos 2 segundos, por tanto se aplicaría al segundo 1 de los 2, ya que es la mitad, el 50%)
   animation-delay: 10s; - Esto es cuánto tarda en ejecutarse, pero va al inicio solamente, no cada vez que arranca.
}
Además del porcentaje podemos usar las propiedades "from" y "to", desde a qué cosa sería. 

Otro ejemplo copado, es el de aparecer y desaparecer que se logra con el "opacity", en este caso un h1.
@keyframes aparecer {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
}
h1 {
   animation-duration: 2s;
   animation-name: aparecer;
   animation-iteration-count: infinite;
}

https://animate.style/
Acá hay una librería con clases definidades de efectos, pero que tenemos que vincular (en pdf de la clase 8 y 9 está descripto)


mdm + css... en google para todas las dudas


GIT

Git Bash
Algunos comandos
git config --list - Para ver nombre de usuario, email declarado y demás datos.
HELP: te mostrará una lista de comandos disponibles.
DIR / LS: es el comando más conocido de DOS y sirve para ver el contenido de una carpeta (en MAC-OS usar LS).
CD: sirve para entrar en una carpeta o salir de ella (CD ..). Por ejemplo, la busco con dir, y después utilizo cd para entrar en un carpeta y luego que estoy dentro uso nuevametne dir para ver que hay dentro de esas carpeta.
ej: cd proyecto/  ---- cd .. (para volver atrás)
También puedo arrastrar una carpeta y me coopia la ruta de esa carpeta
CLEAR: limpia la consola. Es lo mismo que ejecutar ctrl + tecla l
MKDIR: con este comando crearás una carpeta nueva. Con RMDIR podrás eliminarla.
MOVE y COPY: son los comandos para mover y copiar archivos respectivamente. hay que indicar el nombre del archivo con su ruta (si está en otra carpeta en la que te encuentras) y la ruta de destino.
RENAME: sirve para renombrar un archivo o carpeta. Hay que indicar el nombre original y el definitivo.
DEL: es el comando para eliminar un archivo. No irá a la Papelera. Y para eliminar carpeta el comando RD.
EXIT: cierra la ventana de la línea de comandos o símbolo del sistema.
COPY CON: crear archivos (en MAC-OS usar TOUCH).

git init - para inicializar git en la carpeta que estemos trabajando. Automáticamente nos genera una carpeta oculta que se llama .git (que no se toca)
Y lo identificamos cuando al lado de la carpeta dice (master)
ls -a (nos muestra las carpetas ocultas)
Al realizar el enlace en el visual se ven ahora con color verdes nuestro html carpetas y demás, y se nos agregó un link de vínculo, que dice significa que todo está enlazado con git. A su vez tienen una "A" al lado
Cuando tienen una "M" al lado sinifica que fueron modificados y que tenemos que realizar el git add de nuevo. También cambian de color verder a una especie de naranja

git status (para revisar el estado de nuestro repositorio, lo que estoy trabajando en el "working directory")

git add  - Agregar el o los archivos al "Staging Area".
git add + el nombre del archivo, lo cual permite adherir el archivo para subirlo luego al repositorio en la nube. 
git add .    -  Adhiere todos los archivos nuevos.
Y con git status ya puedo corroborar si está en el nuevo estado (todavía no está en el estado commit)

git commit
git commit -m " "  -  El mensaje que quiere agregarle “Comentario de qué se trata el commit que se está realizando, el mensaje que quiere ”

git log
Para ver cuando confirmé los commit - muestra el registro de los commits
git log --oneline   ---- Es una forma resumida de ver los commits

ramas
Las ramas sirven para trabajar en equipo y sin hacer modificaciones en el master, y si algo se daño la master queda intacta. Obviamente a estar algo ya realizado y en funcionamiento lo vamos pasando a la master
git branch + el nombres que le quiera dar, por ejemplo: git branch prueba1 para armar una nueva rama
Cuando queramos agregar una nueva funcionalidad, o solucionar un error, podemos generar una nueva rama para alojar estos cambios y así organizarnos mejor y hacer por ejemplos correciones experimentales
Si ejecuto sólo git branch sin nombre ni nada me dice en que rama estoy; en sí se usa git branch -l

cambio de rama a otra
git checkout + nombre + para cambiar de rama

borrar la rama
git checkout + nombre  --- para volver a la rama principal (la que llama master)
$ git branch -D prueba1  --- lo que hace es borrar la rama (ojo que la "D" va en mayúscula cuando hay que borrar)

cambiar nombre de una rama
git branch -m nico  ----- estando dentro de una rama, por ejemplo llamado prueba, y agrego esto le cambio el nombre a nico.

Para moverme a un commit viejo, porque me equivoqué y quiero revisar o lo que sea
git checkout 6bcff19 ---- (esto último es un ejemplo, y es el id del commit que los busco con el git log)
Pero acá hay que tener cuidado, yo hago un nuevo commit está dentro del id donde me moví todos los commit posteriores se me van a borrar automáticamente
Y para voler sería git checkout + nombre de la rama que incluye todos los commit

Trasladar los cambios de una rama "x" a la rama master
git merge
Primero nos tenemos que ubicar en la master
git merge + nombre de la rama que quiero unificar con la master
ejemplo:
git merge prueba1
Pero esto no hace que se borre prueba1, de hecho puedo volver a ella y seguir trabajando, lo que se copió fue lo que había trabajado hasta ese momento
o puedo elimilar con git branch -D prueba1

Elminar los commit pero no el contenido
git reset + id del commit
Los commit después de ese id se borra, pero no el contenido en el código, de alguna manera borro los comentarios.

git reseet --hard + id del commit
En este caso borra el commit y todo el contenido

GITHUB
git remote add origin + link github y nuestro repositorio nuevo ----- Esto para hacer la vinculación
git remote -v  ----- Es para corroborar cuando hicimos la vinculación con github
git push -u origin master ----- Para hacer la vinculación con github, en este caso con master
Si quiero subir una rama (aunque es raro) tengo que poner en vez de master el nombre de la rama

Descargar repositorios de github
Copiamos la url del repositorio abrimos el git bash y ponemos:
git clone + la url ---- y se descarga

Mi primir commit puede ser: "Archivo principal del proyecto Redhard", en el master

Como colocar git bash en mi editor
Para agregar la terminal de git bash en el visual estudio hay que ir a settings y arriba a la derecha hay un ícono para clickear que parece una hoja y que si dejamos el mouse arriba dice "open settings .json"
y tenemos que agregar la siguiente línea: "terminal.integrated.shell.windows": "c: bla bla la dirección del bash.exe dentro de git.(donde está instalado)"




BOOTSTRAP
https://getbootstrap.com/
Librería: Colecciones de códigos que alguien ya hizo (sean públicas, privadas, o nuestras). Cualquier código que alguien ya haya hecho y que podemos usar. En definitiva son herramientas y las utilizamos de acuerdo al proyecto que tengamos.
Bootstrap nos trae librería pero a su vez es un framework.
Bootstrap tiene, entre otras cosas, un montón de clases de css que son gratis y que podamos usar para nuestros proyectos.
bootstrap utiliza un sistema de filas y columnas, exactamente de 12 (por ser un númermo que permite dividir por 2, por 3, por 4, por 6, por 12 y 1). 

Como insertar bootstrap (primera opción - Copiar CDN)
Se pega en el head
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
Luego estos dos se pegan dentro del boody y justo al final de todo (son para los componente dinámicos)
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

Como insertar bootstrap (segunda opción)
En este caso se descargan los archivos de bootstrap y los linkeamos desde adentro. Y podemos hacer algún cambio en la libería por ejemplo porque la tenemos nostros.

Algunos ejemplos de clases de bootstrap:
class="" (por ejemplo dentro de un section)
container (pone todo en un contedor y lo centra, y a su vez lo hace responsive)
container-flui (pone el contenedor al 100% del espacio en caso de que lo necesite)
img-fluid (los elementos no se pasan y dejan de generar scroll cuando achicamos por ejemplo, lo hacen tambien responsive)
lead (para destacar el primer párrafo, estilo en una noticia, con más interlineado y tamaño)
row (los elementos dentro de un row van a ocupar 12 columnas. La clase row nos permite usar las columnas. Le pone flex y flex wrap y corrige el margim que modifican las columnas)
col-2 (el 2 puede ser el número que queramos, y detalla cuántas columnas quiero de cada uno).
No poner ningún breakpoint define desde mobile para arriba
responsive
declarás col- "sm" o "md" "lg" y "xl" y después cantidad de columnas. Con esto declarás dentro de tales tamaño cuantas columnas tal elemento.
Ejemplo: class="col-sm-9 col md-7"
col (si dejo col sólo le doy un tamaño flexible a uno de los elementos, por ejemplo si tengo dos section una al lado de la otra, en una puedo declarar modificaciones de responsividad en función de cant de col, pero en el otro poniendo sólo col lo adapta automáticamente)
Tambien si pongo col a cada elemento de una section sin declarar la columna me va a dividir los elementos del mismo de manera proporcional automáticamente.
Si pongo class:"row no-gutters" a la section que tiene ese col borra los gutters que divid los elementos (espacio en blanco)
Si declaro col-sm si detallar cantidad de columnas, le digo que es flexible a partir de sm.
si uso d-md-none, estoy declaron en este caso que display después de md nome, que no aparezca. 
Puedo traer un background por ejemplo, o un color de texto declarado en css y ponerlo dentro de una clase, por ejemplo en un section puedo tener una class:"bg-red"
En general las clases son las reglas del css con guiones por ejemplo: class="font-wight-bold"

class="carousel slide" (aviso que voy a usar un carousel) data-ride="carousel" (avisa a java que es carousel y que lo tiene que animar)
Ejemplo: 
<div id="calesita" class="carousel slide" data-ride="carousel">
    <div class= "carousel-ittem active" (declara cada iten del carpusel y active declara por cual va a empezar)> 
        </img src="(traer una imagen)" class="d-block(declaro que es block) w-100(declaro que ocupe el 100)">. 
    </div>
</div>

Acá ejemplo para agregar flechitas y mover nosotros
  <a class="carousel-control-prev" href="#calesita" (llamo a mi id) role="button" (el rol es para avisar a los no videntes y robots que es un botton) data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span> (el área hidden y el span que sigue abajo es todo para lectores de pantalla para gente con problemas visuales), se peude borrar)
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#calesita" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

Podría estár así y funcionaría
    <a class="carousel-control-prev" href="#calesita ata-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#calesita"  ata-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

Esto es para agregar indicadores (las barritas abajo que te marcan donde estás) al carusel. irian dentro del div q llamamos calesita
  <ol class="carousel-indicators">
    <li data-target="#calesita" data-slide-to="0" class="active"></li>
    <li data-target="#calesita" data-slide-to="1"></li>
    <li data-target="#calesita" data-slide-to="2"></li>
  </ol>

Podemos ir a nuestro css por ejemplo y agregar modificaciones poniendo la clase .calesita , y le cambiamos colores, formas y demás.

bootstrap usa por defecto roboto como tipografía

dropdowns
ejemplo que dan en la páginas
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
El btn btn-secondary le ponen un estilo para que se vea como un button, pero no es necesario para que funcione, puede ser btn-red. el dropdown-toggle si es necesario
El type="button" avisa que es un button 
id="dropdownMenuButton" no es necesario para que funcione pero se usa para detallar que es el padre, péro con el <div class="dropdown"> ya está declarado.
El aria, es para los no vidente, se puede borrar

Como quedaría borrando todo lo que no es necesario y armando un header de redes sociales:
<header class="py-3"> (margen)
    <div class="container">
        <nav class="nav">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                    Redes sociales
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Facebook</a>
                    <a class="dropdown-item" href="#">Instagram</a>
                    <a class="dropdown-item" href="#">LinkedIn</a>
                </div>
            </div>      
        </nav>  
    </div>
</header>

vimos modal
(la estrcutura viene preestablecida y la saco desde la web)
Pero es importante no olvidarnos de imbocar en modal, desde donde se va a activar, cuando toque qué cosa. Ejemplo (en este caso s un botón pero lo podemos traer desde donde queramos, una imagen ejemplo):
<button class="btn btn-outline-primary" (esto es el estilo del boton) data-target="#iddelmodal" (llamo al modar con el nombre del id que le di) data-togel="modal" (declaro que es un modal)>    
    Nombre del boton
</button>
<button class="btn btn-outline-primary" data-target="#iddelmodal"  data-togel="modal"> (ejemplo sin la explicación)    
    Nombre del boton
</button>
modal-lg (es un modal de más tamaño)

Otros estilos que vimos:
badges 
popovers
tooltip
collapse
accordion
cards
breadcrumb

Hay varios elementos que los tenemos que inicializar, ya que bootstrap los deja por "fuera" para no hacer tan pesada nuestra web. Cómo se hace esto, por ejemplo:
Hay que armar un nuevo archivo de js en nuestro código por ejemplo con nombre scripts.js
Dentro de la misma poner lo siguiente en el caso que queramos usas un tooltip
$(function () {
    $(*[data-toggle="tooltip"]).tooltip();
});
¿Qué estoy declarando?
$(function () {  (Acá estoy invocando una función anónima en jquery)
    $ (através del "$" llama, el $ es el alias de jquery (*[data-toggle="tooltip"]) (acá hace un selector de css y llama a todos los elementos que tenga dato-toggle="tooltip") .tooltip() (y acá está diciendo todos ustedes van a ser tooltip);
});

tehemes
https://themeforest.net/



SASS
Syntactically Awesome Stylesheets - Escribe hojas de estilos sintácticas maravillosas
Permite una sintaxix más simple.
Cuenta con dos diferentes tipos de sintaxis, dos maneras de escribir sass, por tanto hay dos tipos de extensiones: .scss (sassy css) y .sass.
Ejemplo: estilo.scss (esta extensión es prácticamente lo mismo que escribir en css)
css es el único lenguaje de estilo que entiende el navegador. html es el único que entiende el navegador en el caso de estructuras.
Por eso al trabajar en sass al terminar lo que hacemos en compilarlo y convertirlo en código css
El archivo de sass no sew linkea, trabajamos en él y ejecutamos un comando y se convierte en css
En sass nos permite mejorar nuestro código, por ejemplo, poner un cojunto de elementos dentro de alguna clase, por ejemñplo un div. En vez de tener todos los elementos separados.
Por ejemplo (en este caso estoy diciendo que sólo a los p que se encuentren dentro de este div se le aplique el estilo detallado en el p, lo que está en el div no afecta al p):
div {
   width: 100px;
   height: 100px;
   background-color: red;
   padding: 15px;
   p {
       font-size: 20px;
       color: white;
       font-family: Arial, sans-serif;
   }
}
en el git para comprobar si instalé node
node -v (me dice si está instalado y la versión)
npm -v (me dice si está instalado y la versión)

Después:
npm init (te pregunta al dar enter cual va ser el nombre del proyecto que vas a crear, si no colocamos nada queda el de la carpeta, y varias preguntas que por el momento le damos enter)
si damos enter a todo nos va a terminar generando un archivo package.json
npm install -D node-sass nodemon  (esto hace que nos instalen el "node-sass" (como una librería) y además el "nodemon" (esto nos permite hacer tareas repetitivas)) Y esto hay que instalarlo en cada proyecto que usemos sass.
Al terminar se nos crea en el visual una carpeta que se llama node_modules (esta carpeta no se toca) y un archivo que se llama package-lock.json
La carpeta node_modules (no se toca y no la subimos a github, hay un comando para hacer que esto no se haga).
Luego hay que crear dos carpetas: Una carpeta que se llame SCSS y otra CSS, con sus archivos respectivos. 
carpeta scss con su archivo "prueba.scss"

Luego editamos el package.json e insertamos dos lineas, agregando "," en el scripts (mientras usemos el nombre "prueba", sino hay que modificar):
,"build-css": "node-sass --include-path scss scss/prueba.scss css/pruebacss.css",
"watch-css": "nodemon -e scss -x \"npm run build-css\""

El comando para compilar es el siguiente:
luego en el git: npm run watch-css (esto va a estar ejecutandose repetivametne gracias al nodemon y evita estemos todo el tiempo dando inicio)
Al ejecutar el comando genera un archivo css, y lo que hace es compilar el código sass y lo traslada a ese archivo de css. 
El comando mientras lo hayamos ejecutado siempre que guardemos en el proyecto se va a realizar el cambio. 
Importante el sass al compilar copia y borra lo que hay en el archivo del css, por tanto hay que tener cuidado. Se sobreescribe y se pisa.
Cada vez que cierro la terminal se detiene el comando, por tanto cada vez que vuelvo a trabajar tengo que abrir la terminal de git y activar el comando. 

import
Todos los demas archivos .scss le vamos a agregar el "_" al princpio, por ejemplo, _colors.css
Y desde el .scss principal lo vinculamos con @import "_colors.scss";
Es para trabajar con archivos adicionales de sass
El import nos permite separar distintos códigos para que no queda tan largo y acomodar el proyecto, por ejemplo por ventanas, etc.

vars (variables)
Es para guardar información en nuestra hoja de estilo de sass que después podemos recuperar
se utiliza el "$" para declarar una variable
ejemplo: $color-principal: red; 
De esta nanera la puedo llamar cuántas veces necesite.
Y todo esto es válido en sass pero no en css.

"&" Este signo nos sirve para no repetir, y busca al padre más cercano en el sass
Básicamente es el alias del padre más cercano
por ejemplo
.header {
    width: 500 px;
    .header header_logo
        heigth: 60 px;
        width: 60 px;
}
lo convierto en]:
.header {
    width: 500 px;
    .$_logo
        heigth: 60 px;
        width: 60 px;
}

Operaciones 
sass (sass nos permite realizar operaciones)
por ejemplo: 
$ancho: 720px;
.box_uno {
    background-color: $blue;
    width: $ancho / 2; (esto va a dividir ancho por dos, sería 720px/2)
}

Condicionales
Nos permite establecer reglas para validar, si esto es así sucede tal cosa - if.
Estas condiciones podrán incluir comparadores típicos (==, !=, <, >, <=, >=) entre variables, constantes o cualquier expresión intermedia. 
Ejemplo:
$animal: gato; 
p {
    @if $animal == gato { (si la variable animal es gato se cambia el color a azul)
           color: blue;
    } @else if $animal == perro { (en este caso si no lo es pero de lo contrario si es igual a perro es rojo)
               color: red;
   } @else if $animal == caballo {
              color: green;
   } @else {
              color: black; (en este caso estamos diciendo de lo contrario, en caso que no se cumpla todo lo anterior, va a ser negro)
    }
}

Bucle @for: (para)
Un bucle es una secuencia que repite más de una vez una porción de código, dada cierta condición. Cuando la misma deja de cumplirse, el bucle finaliza.
Lo que le tenemos que decir es donde vas a iniciar y donde vas a terminar.
$var será el nombre de la variable que queramos utilizar en nuestro bloque.
Tanto <start> como <end> tendrán que ser expresiones SassScript válidas, que devuelvan números enteros. Por último, si indicamos ‘through’ se tendrán en cuenta los valores <start> y <end> dentro del bucle; 
Si utilizamos ‘to’, no se tendrá en cuenta el valor <end> dentro del bucle. 
Permite generar cuestiones dinámicas como lo hace cualquier lenguaje de programaciónn y que css no nos lo permite.
Ejemplo
@for $i from 1 through 3 {
  .casitodos-#{$i} { width: 2em * $i; }
}
Y en css se genera
.casitodos-1 {
   width: 2em;
}
.casitodos-2 {
   width: 4em;
}
.casitodos-3 {
   width: 6em;
}

Each
La regla @each facilita la emisión de estilos, o la evaluación del código para cada elemento de una lista, o cada par en un mapa. 
Es ideal para estilos repetitivos que sólo tienen algunas variaciones entre ellos ya que, de cumplirse un característica, realiza dicha acción.
Es posible definir una estructura @each de la siguiente manera:
@each $var in {
  //Bloque de reglas donde podremos utilizar $var mediante interpolación
}
En este caso, <list> será cualquier expresión que devuelva una lista de elementos SassScript válida, es decir, una sucesión de elementos separados por comas.
Es parecido al for pero en este caso no le decimos numéricamente cuántas veces se tiene que repetir, sino que nombramos los valores y los separamos por ",".  
Ejemplo:
@each $animal in puma, aguila, perro {
   .#{$animal}-icon { (en este caso estoy generando clases con el "." pero podría ser otro "#" y serían ids).
         Background-image:  
          url('/images/#{$animal}.png');
    }
Y en css se vería:
.puma-icon {
   background-image: url("/images/puma.png");
}
.aguila-icon {
   background-image: url("/images/aguila.png");
}
.perro-icon {
   background-image: url("/images/perro.png");
}

Maps
Los mapas son variables cuyo valor es una colección de variables. Se definen con un nombre que los identifica. Las claves suelen ser cadenas o números, mientras que los valores pueden ser cualquier tipo de dato. 
Ejemplo: se necesita crear una serie de botones para compartir contenido y te exigen tres de diferente color. Para no crearlos uno a uno, generas un mapa  con clave “el botón” y valor “el color que tendrá”.
$map: (key1: value1, key2: value2, key3: value3);
Ejemplo:
$redes: (Declaramos nuestro mapa, una variable)
    twitter:   #55acee, (acá declaramos una alias (la clave) y un valor)
    facebook:  #3a5795,
    send-mail: #C25E30
); 
(Creamos el bucle para usar los valores del mapa)
@each $red, $color in $redes {
    .btn--#{$red} {
    background-color: $color;
    }
}
Y en css se vería:
.btn--twitter {
   background-color: #55acee;
}
.btn--facebook {
   background-color: #3a5795;
}
.btn--send-mail {
   background-color: #C25E30;
}

Extend
A menudo, al diseñar una página una clase debe tener todos los estilos de otra clase, así como sus propios estilos específicos. 
En esos casos usamos @extend, para traer los estilos de otra clase. 
Permite extender los estilos dentro de otra clase para no andar rescribiendo lo mismo.
Ejemplo:
.redsocial {
        border: 1px #f00;
        background-color: #fdd;
}
.redsocial--nueva {
        @extend .redsocial;
        border-width: 3px;
}
Y en el css
.redsocial, .redsocial--nueva {
  border: 1px #f00;
  background-color: #fdd;
}
.redsocial--nueva {
  border-width: 3px;
}

Mixins
Es parecido al extend pero puede recibir argumentos,  los cuales nos permitirán producir una gran variedad de estilos con unas simples líneas.
Te permiten definir estilos que pueden ser reutilizados en tu proyecto. 
Cuando hacemos alusión a un argumento estamos haciendo alusión a una función que puede recibir varios argumentos
Extends para compartir fragmentos de estilos idénticos entre componentes. 
Mixins para reutilizar fragmentos de estilos que puedan tener un resultado diferente en cada lugar donde los declaremos o ejecutemos.
Es como una función y la llamamos con el @include
Ejemplo:
@mixin sizes($width, $height) {
   height: $height;
   width: $width;
}
.box {
   @include sizes(500px, 50px);
}
.leo {
   @include sizes(1000px, 200px);
}
Y en el css
.box {
      height: 50px;
      width: 500px;
}
.leo {
      height: 200px;
      width: 1000px;
}


Reglas css - Ejemplo de cómo leer y entender el código
ul li a (es el selector css, el elemento html que queremos selecionar) { 
    text-decoration (este sería la propiedad que queremos selccionar): none (sería el valor que le quiero dar a la propiedad);
    font-size: 16px;
    color: #444;
}




*/
















